@page "/gestisciinput"
<PageTitle>Input</PageTitle>

<h1 class="display-4">Gestisci input</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col">
            <label class="form-label">Numero di input</label>
            <div class="input-group mb-3">
                @if (!renderTable)
                {
                    <input type="number" class="form-control" @bind="nInput">
                }
                else
                {
                    <input type="number" class="form-control" @bind="nInput" disabled>
                }

                <button class="btn btn-outline-primary" type="button" @onclick="CreaTabellaClick">Crea Tabella</button>
                <button class="btn btn-outline-danger" type="button" @onclick="EliminaTabellaClick">Elimina Tabella</button>
            </div>
        </div>
        <div class="col">
            <label class="form-label">Nome file</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" @bind="nomeFile">
                <button class="btn btn-outline-success" type="button" @onclick="SerializzaTestSet">Salva Test Set</button>
            </div>
        </div>
    </div>
</div>

@if (renderTable && inputSet != null)
{
    <table class="table">
        <thead>
            <tr>
                @for (int i = 0; i < nInput + 1; i++)
                {
                    <th scope="col">@((i != nInput) ? $"I{i + 1}" : "Target")</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < (int)Math.Pow(2, nInput); i++)
            {
                <tr>
                    @for (int j = 0; j < nInput + 1; j++)
                    {
                        if(j != nInput)
                        {
                            int captJ = j;
                            int captI = i;
                            <td><input type="number" value="@inputSet[j, i]" @oninput="@((args) => inputSet[captJ, captI] = Convert.ToInt32(args.Value))" /></td>
                        }
                        else
                        {
                            int captI = i;
                            <td><input type="number" value="@targetSet[i]" @oninput="@((args) => targetSet[captI] = Convert.ToInt32(args.Value))" /></td>
                        }                        
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    bool renderTable = false;

    int[,] inputSet;
    int[] targetSet;
    int nInput;
    string nomeFile = "";

    private void CreaTabellaClick()
    {
        inputSet = new int[nInput, (int)Math.Pow(nInput, 2)];
        targetSet = new int[(int)Math.Pow(nInput, 2)];
        renderTable = true;
    }

    private void EliminaTabellaClick()
    {
        inputSet = null;
        targetSet = null;
        renderTable = false;
    }

    private void SerializzaTestSet()
    {
        Neurone.MatriceInput = inputSet;
        Neurone.VettoreTarget = targetSet;
        Neurone.SerializzaTestSet(nomeFile);
    }
}
